.sectionContent{
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.years{
   display: flex;
   gap: 5px;
   margin-top: 1.5rem;
   align-items: center;

}
.icon{
   font-size: 30px;
   cursor: pointer;
   transition: all 0.5s;
   &:hover{
      color: #FF7300;
   }
}
.iconsChartDiv{
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
   align-items: center;
   justify-content: center;
}

.iconsChart{
   font-size: 25px;
   transition: all 0.5s;
   cursor: pointer;
   &:hover{
      color: #FF7300; 
   }
}

.active {
   color: #FF7300;
 }