.main_saler{
   width: 50%;
   height: 100%;
   min-height: 450px;
   background-color: #E6E6E6;
   border-radius: 10px;
   box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.212);
   display: flex;
   padding: 20px;
   flex-direction: column;
   gap: 20px;
}
.content{
   display: flex;
   height: 90%;
   width: 100%;
   justify-content: space-between;
}
.seler_left{
   width: 55%;
}
.seler_right{
   width: 40%;
   display: flex;
   flex-direction: column;
   gap: 15px;
   justify-content: center;
   align-items: center;
}
.list_seler{
   display: flex;
   flex-direction: column;
   overflow: auto;
   height: 100%;
   li{
      border-bottom: 1px solid rgba(167, 150, 150, 0.534);
      list-style: none;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.list_seler::-webkit-scrollbar {
   width: 5px; /* Largura da barra de rolagem */

}
.list_seler::-webkit-scrollbar-thumb {
   background-color: #8888888f; /* Cor do polegar da barra de rolagem */
   border-radius: 5px; /* Raio da borda do polegar da barra de rolagem */
}
 
/* Estilo para Internet Explorer */
.list_seler {
   scrollbar-width: thin; /* Largura da barra de rolagem */
}
 
.list_seler::-ms-scrollbar-thumb {
   background-color: #888; /* Cor do polegar da barra de rolagem */
   border-radius: 5px; /* Raio da borda do polegar da barra de rolagem */
}
.info{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.title{
   font-size: 14px;

}
.value{
   font-size: 17px;
   font-weight: 600;
}
.divIcon{
   display: flex;
   align-items: center;
}
.dayInfo_icon{
   font-size: 35px;
   color: aliceblue;
   padding: 8px;
   border-radius: 100%;
}
.dayInfo_iconArrow{
   font-size: 10px;
   color: rgba(0, 0, 0, 0.452);
}
.sale{
   background-color: #66BB6A;
}
.devolution{
   background-color: #ef5350;
}
.margin_sale{
   background-color: #42A5F5;
}
.infos{
   display: flex;
   background-color: #ffffff;
   border-radius: 15px;
   padding: 10px 20px;
   align-items: center;
   justify-content: space-between;
   box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.192);
   width: 90%;
}
.title{
   text-align: center;
}
.value_list{
   color: #2a8b2f;
   font-weight: 500;
   text-align: right;
}
.value_list_devolution{
   color: #b90a0a;
   font-weight: 500;
   text-align: right;
   width: 100%;
}
.inputDate_div{
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: 15px;
}

.date{
   outline: none;
   border: none;
   padding: 15px;
   width: 100%;
   border-radius: 10px;

   cursor: pointer;
   transition: all 0.3s;
   &:hover{
      background-color: #acacac;

   }
   &:focus{
      outline: auto;
   }
}
.div_values{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
.icon_spin{
   font-size: 45px;
   color: #00000091;
   animation: spin 1s linear infinite;
   margin: auto auto;
}

@media(max-width:1230px){
   .value{
      font-size: 15px;
   }
}
@media(max-width:1300px){
   .main_saler{
      width: 100%;
   }
}