.content{
   margin-left: 120px;
   padding: 30px 20px;
   width: 100%;
   gap: 10px;
   display: flex;
   flex-direction: column;
}
.header{
   position: relative;
   display: flex;
   gap: 25px;
   align-items: center;
}
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
.icon{
   font-size: 30px;
   cursor: pointer;
   &:hover{
      animation: spin 1s linear;
   }
}


@media(max-width:1100px){

   .content{
      margin-left: 80px;
   }
}


