.contentChart{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 4rem;
   gap: 2rem;
}
.chart{
   display: flex;
   margin-top: 3rem;
   margin-left: 9rem;
}
.years{
   display: flex;
   gap: 5px;
   align-items: center;

}
.icon{
   font-size: 30px;
   cursor: pointer;
   transition: all 0.5s;
   &:hover{
      color: #FF7300;
   }
}
.iconsChartDiv{
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}

.iconsChart{
   font-size: 30px;
   transition: all 0.5s;
   cursor: pointer;
   &:hover{
      color: #FF7300; 
   }
}
.active {
   color: #FF7300;
}