.content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
}
.chart{
   display: flex;
   margin-top: 3rem;
   margin-left: 9rem;
}
.years{
   display: flex;
   gap: 5px;
   margin-top: 1.5rem;
   align-items: center;

}
.icon{
   font-size: 30px;
   cursor: pointer;
   transition: all 0.5s;
   &:hover{
      color: #FF7300;
   }
}